# Cruft
.DS_Store

# Visual Studio
Win32/*

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
build
*.bin
*.ipch
*.ipch
*.bin
.vscode/ipch/190e96014dec8af9/main.ipch
.vscode/ipch/190e96014dec8af9/mmap_address.bin
.vscode/ipch/3974875c5c5ddeef/mmap_address.bin
.vscode/ipch/3974875c5c5ddeef/plane.ipch
.vscode/ipch/712935f566d58caa/clothSimulator.ipch
.vscode/ipch/712935f566d58caa/mmap_address.bin
.vscode/ipch/8175972ad2082f80/mmap_address.bin
.vscode/ipch/8175972ad2082f80/sphere.ipch
.vscode/ipch/9b70b4161f3d6ba2/cloth.ipch
.vscode/ipch/9b70b4161f3d6ba2/mmap_address.bin
.vscode/ipch/c31569dbbd736233/mmap_address.bin
.vscode/ipch/c31569dbbd736233/vector3D.ipch
.vscode/settings.json
